<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #laporan {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #laporan td, #laporan th {
            /* border: 1px solid #ddd; */
            padding: 8px;
        }

        #laporan tr:nth-child(even){background-color: #f2f2f2;}

        #laporan tr:hover {background-color: #ddd;}

        #laporan th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #00479B;
            color: white;
        }
    </style>
</head>
<body>
<main style="padding-top: 10px">
    <div style="text-align: center;">
        <div style="font-size: 25px; font-weight: 600;">Thinktop Drink</div>
        <div style="font-size: 25px; font-weight: 600;">Laporan</div>
        <div style="font-size: 20px; font-weight: 500; margin-top: 5px;">Periode : <%= periode %></div>
    </div>
    <div style="margin-top: 20px;">
        <table id="laporan">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Deskripsi</th>
                    <th>Quantity</th>
                    <th>Harga</th>
                    <th>Total</th>
                    <th>Jenis</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < dataTable.length; i++) {%>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= (dataTable[i]?.akun?.kategori === 'revenue' || dataTable[i]?.akun?.kategori === 'etc') ? dataTable[i]?.product?.product_name : dataTable[i].deskripsi %>
                        </td>
                        <td>
                            <%= (dataTable[i]?.akun?.kategori === 'revenue' || dataTable[i]?.akun?.kategori === 'etc') ? dataTable[i]?.quantity : '-' %>
                        </td>
                        <td>
                            <%= (dataTable[i]?.akun?.kategori === 'revenue' || dataTable[i]?.akun?.kategori === 'etc') ? dataTable[i]?.product?.price : dataTable[i]?.jumlah %>
                        </td>
                        <td>
                            <%= (dataTable[i]?.akun?.kategori === 'revenue' || dataTable[i]?.akun?.kategori === 'etc') ? dataTable[i]?.product?.price : dataTable[i]?.jumlah %>
                        </td>
                        <td>
                            <%= (dataTable[i]?.akun?.kategori === 'revenue' || dataTable[i]?.akun?.kategori === 'etc') ? 'Pemasukan' : 'Pengeluaran' %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</main>
<footer style="font-style: italic; margin-top: 10px;">
    Di print pada tanggal <%= print_date %>
</footer>
</body>
</html>